@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
.color-dark {
  color: #0a0826;
}

.color-light-dark {
  color: #3e3e3e;
}

.color-text {
  color: #6c6c6c;
}

.color-blue {
  color: #3f87f5;
}

.background-blue {
  background-color: #3f87f5;
}

.line-height-28 {
  line-height: 28px;
}

.slide-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: #ffffff;
}

.banner-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 57px;
  text-align: center;
  text-transform: capitalize;

  color: #0a0826;
}

.review-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6c6c6c;
}

.reviewer-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #0c1920;
}

.reviewer-job {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #747474;
}

.copyright-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer {
  background-color: #0b0d17;
  color: #d9dbe1;
}

.footer-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}

.footer img {
  height: 40px;
  width: 135px;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.pricing-card {
  border-radius: 26px;
  background-image: url(icons/watermark.svg);
  background-position: top right;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: relative;
}

.pricing-card-price {
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: #231d4f;
}

.tag {
  background-color: #ff4e4e;
  z-index: 100;
  color: #fff;
  top: -10px;
  right: 15px;
  padding: 5px 15px;
  font-weight: bold !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.pricing-card-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #231d4f;
}

.pricing-card p {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;

  color: #848199;
}

.pricing-card ul {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.pricing-card ul li {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #848199;
  margin: 3px 0;
}

.pricing-card ul li span {
  height: 20px;
  width: 20px;
  background-color: #edecf9;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  color: #5243c2;
  margin-right: 7px;
}

.pricing-card a {
  background-color: #fef5fa;
  color: #3f87f5;
}

.pricing-card.active {
  background-color: #3f87f5;
}

.pricing-card.active li,
.pricing-card.active p,
.pricing-card.active .pricing-card-title,
.pricing-card.active .pricing-card-price {
  color: #fff;
}

.pricing-card.active a {
  background-color: #fff;
}

.pricing-card:hover {
  background-color: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.pricing-card:hover li,
.pricing-card:hover p,
.pricing-card:hover .pricing-card-title,
.pricing-card:hover .pricing-card-price {
  color: #fff;
}

@media (max-width: 600px) {
  .section-title {
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
  }

  .carousel-item,
  .carousel-item.active {
    height: 400px;
  }

  .width-50 {
    width: 100%;
  }

  .width-75 {
    width: 100%;
  }

  .slide-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  p {
    font-size: 15px;
  }
}
